image: docker:latest

stages:
  - deploy

deploy_test:
  stage: deploy
  script:
    - docker build -t registry.h2hsecure.com/ddos/worker:latest .
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.h2hsecure.com
    - docker push registry.h2hsecure.com/ddos/worker:latest
    - docker network create web_net || true
    - docker container stop -t 20 ddos1 || true
    - docker container stop -t 20 ddos2 || true
    - docker container stop -t 20 ddos3 || true
    - docker container rm ddos1 || true
    - docker container rm ddos2 || true
    - docker container rm ddos3 || true

    - >
      docker run -d
      --restart=always
      --network=web_net
      --name=ddos1
      -e BACKEND_HOST=h2hsecurecom 
      -e BACKEND_PORT=80 
      -e CONTEXT_PATH=ddos 
      -e DOMAIN=web.h2hsecure.com 
      -e DOMAIN_PROTO=https
      -e CLUSTER_STR=1001:ddos1:45678:12345,1002:ddos2:45678:12345,1003:ddos3:45678:12345
      -e MY_ADDRESS=1001:ddos1:45678:12345
      -e SYSTEM_ID=3e6b0d00-f49f-11ef-9c49-dff0b218ffde-1
      -e TOKEN_SECRET=02b2648e69c33bac085b
      registry.h2hsecure.com/ddos/worker:latest

    - >
      docker run -d
      --restart=always
      --network=web_net
      --name=ddos2
      -e BACKEND_HOST=h2hsecurecom 
      -e BACKEND_PORT=80 
      -e CONTEXT_PATH=ddos 
      -e DOMAIN=web.h2hsecure.com 
      -e DOMAIN_PROTO=https
      -e CLUSTER_STR=1001:ddos1:45678:12345,1002:ddos2:45678:12345,1003:ddos3:45678:12345
      -e MY_ADDRESS=1002:ddos2:45678:12345
      -e SYSTEM_ID=3e6b0d00-f49f-11ef-9c49-dff0b218ffde-2
      -e TOKEN_SECRET=02b2648e69c33bac085b
      registry.h2hsecure.com/ddos/worker:latest
    - >
      docker run -d
      --restart=always
      --network=web_net
      --name=ddos3
      -e BACKEND_HOST=h2hsecurecom 
      -e BACKEND_PORT=80 
      -e CONTEXT_PATH=ddos 
      -e DOMAIN=web.h2hsecure.com 
      -e DOMAIN_PROTO=https
      -e CLUSTER_STR=1001:ddos1:45678:12345,1002:ddos2:45678:12345,1003:ddos3:45678:12345
      -e MY_ADDRESS=1003:ddos3:45678:12345
      -e SYSTEM_ID=3e6b0d00-f49f-11ef-9c49-dff0b218ffde-3
      -e TOKEN_SECRET=02b2648e69c33bac085b
      registry.h2hsecure.com/ddos/worker:latest

  tags:
    - webcontents