image: docker:latest

stages:
  - deploy

deploy_test:
  stage: deploy
  script:
    - docker build -t registry.h2hsecure.com/ddos/worker:latest .
    - docker network create web_net || true
    - docker container stop -t 20 ddos || true
    - docker container rm ddos || true
    - >
      docker run -d
      --restart=always
      --network=web_net
      --name=ddos
      -e BACKEND_HOST=h2hsecurecom -e BACKEND_PORT=80 -e CONTEXT_PATH=ddos -e DOMAIN=https://www.h2hsecure.com
      registry.h2hsecure.com/ddos/worker:latest

  tags:
    - webcontents
  only:
    - master
