version: "2.3"

services:
  nginx:
    image: my-altered-redis-image
    container_name: my-redis
    depends_on:
      - "ddos"
    volumes:
      - ddos-socket:/run/ddos-socket
  ddos:
    image: register.h2hsecure.com/ddos/worker:latest
    container_name: ddos
    depends_on:
      - "enforcer"
    volumes:
      - memcache-socket:/run/redis-socket
      - ddos-socket:/run/ddos-socket
  enforcer:
    image: register.h2hsecure.com/ddos/worker:latest
    container_name: enforcer
    depends_on:
      - "memcache"
    volumes:
      - memcache-socket:/run/redis-socket
  memcache:
    image: my-node-image
    container_name: my-node
    volumes:
      - memcache-socket:/run/redis-socket

volumes:
  memcache-socket:
  ddos-socket:
