name: Build and push Docker image to github registry

on:
  push:
    branches: [ "master", "github_refactoring" ]
    
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
    
    - name: Log in to the Container registry
      uses: docker/login-action@v4
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context:
        push: true
        tags: ghcr.io/h2hsecure/netbox:latest